$purple-dark: #10007f;

body {
  background-color: #f3f3ff !important;
}

.App {
  color: $purple-dark;  
}

nav {
  padding-left: 50px !important;
  padding-right: 50px !important;
  background-color: white;
}

@media only screen and (max-width: 575px) {
  nav {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.nav-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50;
    text-align: center;
    font-weight: bold;
}

main {
  margin: auto 50px auto 50px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 50px auto 50px auto;
    }

    .card-group {
      margin-bottom: 50px;
    }
}
